@font-face { font-family: "Albert Sans"; src: url("open-design.ai/AlbertSans-VariableFont_wght-5ccc2f8f05.woff2") format("woff2"); font-weight: 100 900; font-style: normal; font-display: swap; }

@font-face { font-family: "Albert Sans"; src: url("open-design.ai/AlbertSans-Italic-VariableFont_wght-b6ad8b53d7.woff2") format("woff2"); font-weight: 100 900; font-style: italic; font-display: swap; }

@font-face { font-family: "Remix Icon"; src: url("open-design.ai/remixicon.subset-d3fe942a1f.woff2") format("woff2"); font-weight: 400; font-style: normal; font-display: swap; }
